#height-adjustment {
    min-height: calc(100vh - 102px);
}
#title {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    color: white;
}
#tick {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-right: 15px;
    text-align: right;
    cursor: pointer;
    font-size: 1em;
    color: white;
}
.header {
    padding: 8px 0 30px 0;
    background-color: #5933aa;
}
.no-padding {
    padding: 0;
}
.flex-display {
    display: flex;
}
.tabs{
    border-bottom-color: rgba(89, 51, 170, 0.3);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.top-margin {
    margin-top: 20px;
}
.pub-button {
    background-color: white;
    height: 30px;
    width: 200px;
    color: black;
    box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
    border: none;
    padding: 4px 30px 4px 30px;
    margin-bottom: 20px;
}
.add-button {
    background-color: white;
    height: 30px;
    width: 80px;
    color: black;
    box-shadow: 0px 0px 3px 0px rgba(105,105,105,1);
    border: none;
}
.button-wrapper {
    text-align: center;
}
.color-button {
    background-color: #5933aa;
    color: white;
}
.underline {
    text-decoration: underline;
}
.trash-can {
    width: 25px;
    height: 25px;
}
.list-row {
    display: flex;
    flex: auto;
}
.drag-input {
    width: 500px;
}