# build output
dist

# project-specific secret keys and sensitive data
/backend/config/secrets.js
/backend/data
app/firebase/config.js

# dependencies
node_modules
package-lock.json
yarn.lock

# other
.DS_Store

# environment variables
.env